#scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
  }

  #scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  article {
    position: relative;
    padding: 0 1rem;
    max-width: 20rem;
  }

  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    width: 100vw;
    margin: 0;
    z-index: 0;
    top: 12.5vh;
    height: 75vh;
    /* Center everything inside */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sticky-thing p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .step {
    margin: 0 auto;
    color: #000;
    background: hsla(0,0%,100%,.9);
    box-shadow:0 2px 5px 0 #e4e4e4;
    margin-top:40vh;
    margin-bottom:40vh;
    max-width:30vw;

  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active {
    background-color: goldenrod;
    color: #3b3b3b;
  }

  .step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
  }
  html{
    padding-bottom:50vh;
  }